.about {
  padding-top: 60px;
  padding-bottom: 119px;

  @include vp-1023 {
    padding-top: 0;
    padding-bottom: 79px;
  }
}

.about__container {
  position: relative;
  padding-left: 290px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 40px;
    bottom: 0;
    width: 150px;
    height: 320px;
    background-image: url("../img/year.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/year@2x.png");
    }
  }

  @include vp-1023 {
    padding-left: 225px;

    &::before {
      top: 5px;
      left: 46px;
    }
  }
}

.about h2 {
  margin: 0;
  margin-bottom: 12px;
  font-family: "Roboto Condensed", "Arial Narrow", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
}

.about p {
  margin: 0;
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @include vp-1023 {
    &:last-of-type {
      margin-bottom: 20px;
    }
  }
}

.about__button {
  display: block;
  max-width: 180px;
  margin-top: 40px;
  font-family: "Roboto Condensed", "Arial Narrow", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  &--nojs {
    display: none;
  }

  @include vp-1023 {
    margin-top: -5px;
  }
}

.is-hidden {
  display: none;
}

.additional--nojs {
  display: block;
}
